---
import Layout from '../layouts/Layout.astro';
import RecipeList from '../components/RecipeList.vue';
import { db, schema } from '../../db/index';

const recipes = db.select({
  id: schema.recipes.id,
  slug: schema.recipes.slug,
  name: schema.recipes.name,
  tags: schema.recipes.tags,
  baseCalories: schema.recipes.baseCalories,
  baseProtein: schema.recipes.baseProtein,
  isFavorite: schema.recipes.isFavorite,
  photoPath: schema.recipes.photoPath,
}).from(schema.recipes).all();
---

<Layout title="Recetas">
  <h1 class="text-2xl md:text-3xl font-extrabold tracking-tight mb-6">Recetas</h1>
  <RecipeList client:load recipes={recipes} />
</Layout>
